# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Admin configuration
# Your Clerk User ID (find it in Clerk Dashboard > Users)
ADMIN_USER_ID=user_...

# Database (MongoDB via Prisma)
# Format: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>
DATABASE_URL="mongodb+srv://..."

# Cloudinary (Image Hosting)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_UPLOAD_PRESET=your_upload_preset

# Google Analytics (Optional)
NEXT_PUBLIC_MEASUREMENT_ID=G-...

# Site URL (Used for CSRF protection and OG tags)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Security - AI Chatbot API Key Encryption
# MUST be a 32-character string for AES-256-CBC
# U Can generate one from (https://randomkeygen.com/aes-key)
ENCRYPTION_KEY="your-secure-32-character-encryption-key-here"
